.main {
    width: 700px;
    padding: 32px 10px 20px 50px;
    margin-left: 260px;
    border-left: 2px solid #aaa;
    min-height: calc(100vh - 60px);
  }
  
  /* Tablet screens and smaller */
  
  @media screen and (max-width: 960px) {
    body {
      width: auto;
      max-width: 700px;
    }
    .masthead {
      width: auto;
      float: none;
      padding: 20px 0 60px;
      text-align: center;
      margin-left: 10px;
      margin-right: 10px;
      border-bottom: 2px solid #aaa;
    }
    .main {
      width: auto;
      padding: 40px 10px;
      margin-left: 0;
      border-left: none;
      min-height: auto;
    }
    .masthead h1 {
      text-align: center;
    }
    .masthead .tagline {
      text-align: center;
    }
    .masthead .menu {
      direction: ltr;
      max-width: 300px;
      margin-left: auto;
      margin-right: auto;
    }
    .masthead .menu ul {
      text-align: left;
      margin: 0;
      padding: 0;
    }
    .masthead .menu ul ul {
      margin: 0;
    }
    .masthead .menu li {
      border-bottom: 1px solid;
      list-style: none;
      margin: 0;
      padding: 0;
    }
    .masthead .menu li:first-child {
      border-top: 1px solid;
    }
    .masthead .menu li li:last-child {
      border-bottom: none;
    }
    .masthead .menu a {
      display: block;
      padding: 15px 20px;
      border-bottom: none;
    }
    .masthead .menu li li a {
      padding-left: 30px;
    }
    .masthead .menu li li::before {
      content: none;
    }
    .masthead .menu li li a::before {
      content: "\00a0\00a0\00a0";
    }
    #menu-label {
      display: inline-block;
      padding: 0 20px;
      height: 50px;
      border: 1px solid;
      cursor: pointer;
      line-height: 50px;
      color: #333;
      font-size: 20px;
      margin-top: 10px;
    }
    #menu-label:hover, #menu-label:focus {
      border: 1px solid #888;
    }
    #menu-label .icon {
      padding-right: 8px;
      width: 30px;
    }
    #menu-check~label .close-icon {
      display: none;
    }
    #menu-check~label .open-icon {
      display: inline-block;
    }
    #menu-check:checked~label .close-icon {
      display: inline-block;
    }
    #menu-check:checked~label .open-icon {
      display: none;
    }
    #menu-check~ul {
      display: none;
    }
    #menu-check:checked~ul {
      display: block;
      margin-top: 50px;
      margin-bottom: 0;
    }
  }
  
  /* Landscape phone screens and smaller */
  
  @media screen and (max-width: 720px) {}
  
  /* Portrait phone screens */
  
  @media screen and (max-width: 480px) {
    body {
      font-size: 16px;
    }
    h1 {
      font-size: 28px;
    }
    h2 {
      font-size: 18px;
    }
    h3, h4, h5, h6 {
      font-size: 16px;
    }
    pre, code {
      font-size: 12px;
    }
    .masthead {
      padding-top: 0;
    }
  }
  
  .hljs {
    padding: 1em;
  }
  
  ul.terms {
    list-style-type: none;
    /* Remove bullets */
  }
  
  p {
    text-indent: 2em;
  }
  
  form {
    background-color: #f6f6f9;
    width: 95%;
    height: 36px;
    border-radius: 5px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    flex-direction: row;
    align-items: center;
  }
  
  nav-middle {
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
  
  input {
    all: unset;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: normal;
    color: #000;
    height: 100%;
    width: 100%;
    border-radius: 5px;
    padding-left: 10px;
  }
  
  ::placeholder {
    color: #bbb;
    opacity: 0.7; 
  }
  
  svg {
    color: #AAAAAA;
    fill: currentColor;
    width: 24px;
    height: 24px;
    padding: 10px;
  }
  
  button {
    all: unset;
    cursor: pointer;
    width: 44px;
    height: 44px;
  }